/Pruebas/CODESYS_Automatico_Con_Antisway/Senales/datos_brutos.mat filter=lfs diff=lfs merge=lfs -text
/Pruebas/CODESYS_Automatico_Sin_Antisway/Senales/datos_brutos.mat filter=lfs diff=lfs merge=lfs -text
/Pruebas/CODESYS_Manual_Con_Antisway/Senales/datos_brutos.mat filter=lfs diff=lfs merge=lfs -text
/Pruebas/CODESYS_Manual_Sin_Antisway/Senales/datos_brutos.mat filter=lfs diff=lfs merge=lfs -text
/Pruebas/Prueba_1_Barrido_y_Dos_Transferencias/Senales/datos_brutos.mat filter=lfs diff=lfs merge=lfs -text
/Pruebas/Prueba_1_Barrido_y_Dos_Transferencias/Senales/senales_originales.mat filter=lfs diff=lfs merge=lfs -text
